.checkbox_animated {
    $switcher_size: 24px;
    $checkbox_width: 60px;
    $slider_border: 3px;
    $slider_size: $switcher_size - 2*$slider_border;
    $slider_z_index: 1;

    input, .toggle_option .x-form-checkbox {
        display: none;
    }

    .toggle_option_slider {
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        height: $slider_size;
        width: $slider_size;
        top: $slider_border !important;
        left: 0 !important;
        margin-left: $slider_border !important;
        position: absolute;
        transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        -webkit-transition: all .4s ease;
        // There are browsers which not supports the pointer-events property.
        // So work around with z-index.
        //pointer-events: none;
        z-index: $slider_z_index;
        background: #FFFFFF;
    }

    .toggle_option.x-form-cb-checked ~ .toggle_option_slider {
        left: 100% !important;
        margin-left: -$slider_size - $slider_border !important;
    }

    .toggle_option {
        height: $switcher_size;
        &, * {
            min-height: 0;
        }
        * {
            height: auto;
        }

        background: #A0A0A0 url("/resources/images/anim-checkbox-off.png") no-repeat center center;
        width: $checkbox_width !important;
        border-radius: 50px;
        label {
            margin: 0;
            // in order to increase the clicking area
            width: 100%;
            height: $switcher_size;
            position: absolute;
            z-index: $slider_z_index + 1;
        }
    }

    .toggle_option.x-form-cb-checked {
        background: #9BC224 url("/resources/images/anim-checkbox-on.png") no-repeat center center;
    }
}
