/** Base styles **/
$base-color: #003c82;
$font-family: 'Open Sans', tahoma, arial, verdana, sans-serif;

/** Grid **/
$grid-row-cell-focus-border-style: null;

/** Palette view **/
$palette-navigation-text-color: #fff;
$palette-navigation-background-color: #00204d;
$palette-navigation2-background-color: #003c82;
$palette-navigation2-over-background-color: #004895;
$palette-navigation2-selected-background-color: #0054a7;
$palette-property-border-color: #ccc;
$palette-property-selected-background-color: #d0dbeb;
$palette-property-button-over-background-color: #d5e6fe;
$palette-property-toolbar-background-color: #fff;

/** Property view customization **/
$property-font-size: 14px;