@import 'Button_large';

$button-medium-border-radius: 0;
$button-medium-border-width: 0;
$button-small-border-radius: 0;
$button-small-border-width: 0;

$button-default-background-gradient: null;
$button-default-background-gradient-over: null;
$button-default-background-gradient-focus: null;
$button-default-background-gradient-pressed: null;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: null;
$button-toolbar-background-gradient-focus: null;
$button-toolbar-background-gradient-pressed: null;